# [output_pin led_red]
# pin: ar5
# pwm: false
# value: 1

# [output_pin led_green]
# pin: ar4
# pwm: false
# value: 1

# [output_pin led_blue]
# pin: ar6
# pwm: false
# value: 1

[led toolhead_led]
red_pin: ar5
green_pin: ar4
blue_pin: ar6

[gcode_macro LED_ON]
gcode:
    SET_LED LED=toolhead_led RED=1 GREEN=1 BLUE=1

[gcode_macro LED_OFF]
gcode:
    SET_LED LED=toolhead_led RED=0 GREEN=0 BLUE=0

[gcode_macro _LED_RED]
gcode:
    SET_LED LED=toolhead_led RED=1 GREEN=0 BLUE=0

[gcode_macro _LED_GREEN]
gcode:
    SET_LED LED=toolhead_led RED=0 GREEN=1 BLUE=0

[gcode_macro _LED_BLUE]
gcode:
    SET_LED LED=toolhead_led RED=0 GREEN=0 BLUE=1

[gcode_macro _LED_WHITE]
gcode:
    LED_ON